*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #2D033B;
    display: grid;
    height: 100vh;
    place-content: center;
    gap: 20px;
}

div{
    padding: 0;
    margin: auto;
    position: relative;
    width: 300px;
    background-color: black;
}

input{
    padding: 15px;
    font-size: 20px;
    border: 2px solid #433149;
    outline: none;
    width: 100%;
    background-color: #2D033B;
    border-radius: 5px;
    color: white;
    transition: .5s;
}

span{
    font-size: 20px;
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #433149;
    transition: .5s;
}

input:valid ~ span, input:focus ~ span{
    color: #3C79F5;
    transform: translateX(10px) translateY(-7px);
    font-size: 14px;
    padding: 0 10px;
    background-color: #2D033B;
    border-left: 2px solid #3C79F5;
    border-right: 2px solid #3C79F5;
    letter-spacing: 2px; 
}

input:focus{
    border: 2px solid #3C79F5;
}

div:nth-child(2) input:focus ~ span{
    background-color: #3C79F5;
    color: #2D033B;
    border-radius: 2px;
}